{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class='HomeTitle'>Materiels disponible</h1>
        <div>
        {{ render(controller(
            'App\\Controller\\SearchController::searchBar'
        )) }}
        </div>
            <div class='productContainer'>
                {% for product in products %}
                
                    <div class='card'>
                        <div class='card-img'>
                            <img src="{{ product.image }}"/>
                        </div>

                        <div class='card-name'>
                            <h2>{{ product.name }}</h2>
                        </div>

                        <div class='card-info'>
                            <div>Catégorie : {{ product.category }}</div>
                            <div>Disponibilité : {{ product.disponibility }}</div>
                        </div>

                        <a class='card-show' href="{{ path('app_product_show', {'id': product.id}) }}">Voir produit</a>
                    </div>     
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
               {% endfor %}
            </div>
    {% else %}

        <div>Merci de vous connecter pour accceder a l'application</div>

    {% endif %}
{% endblock %}
