{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class='productTitle'>{{ product.name }}</h1>

    <div class='productShowContainer'>

        <div class='productImage'>
            <img src='{{product.image}}'/>
        </div>

        <div class='productContent'>
            <div class='productDescription'>{{product.description}}</div>
            <h2 class='productCategory'> Categorie produit :{{product.category}}</h2>
        </div>
    
    </div>

    <div class='btnSymfony'>
        <a class='btn-back' href="{{ path('app_product_index') }}">back to list</a>
    </div>
{% endblock %}
